@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Quicksand:wght@300;400;500;600;700&display=swap');
html{
    height: 100%;
}

body{
    height: 100%;
}
#root{
    height: 100%;
}
#app{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}
#nav{
    width: 7%;
    min-width: 7%;
    float: left;
}
#bg{
    min-width: 93%;
    min-height: 100%;
}
#homepage{
    margin-top: 20%;
}

h2{
    text-align: center;
    position: center;
    color: white;
    font-weight:700;
}
body{
    
    font-family: "Poppins";
    font-weight:700;
}

.react-trello-lane {
    border: 0;
}

.react-trello-board{
    border: 0;
}
